<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div>
        <h1>Wellcom to about page</h1>
        <ul>
            <li>
                <a href="page.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
        <img src="../images/panda.png" alt="">
        <h2>About us:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eveniet, blanditiis aliquam non adipisci
            soluta commodi! Sed eum accusantium assumenda, quibusdam neque asperiores totam reiciendis animi, impedit,
            ab obcaecati fugit!</p>
        <footer>By Vitaliy</footer>
    </div>
</body>

</html>