<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <h1>Wellcom to contact page</h1>
        <ul>
            <li>
                <a href="page.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
        <img src="../images/dog.jpeg" alt="">
        <h2>Phone: 05311122233</h2>
        <h2>Email: vitaliy@gmail.com</h2>
        <footer>By Vitaliy</footer>
    </div>
</body>
</html>